.SearchBar {
    display: inline-block;
    height: 30px;
    width: 50%;
    top: 25px;
    margin: 22px 0 10px;
    background-color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 0.3em;
}

.SearchBarElement {
    outline: none;
    border: 1px solid white;
    background-color: white;
    font: inherit;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.SearchIcon {
    float: right;
    vertical-align: middle;
    height: 90%;
    width: 25px;
    margin-right: 4px;
}

.SearchIcon:hover {
    cursor: pointer;
}

@media (max-width: 910px) {
    .SearchBar {
        width: 40%;
    }
}
