.Filter {
    padding-left: 15px;
}

.Filter h4 {
    margin: 0;
    font-size: 1em;
    color: #3dbee9;
    padding-bottom: 5px;
}

.Filter ul {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    padding-left: 25px;
    list-style-type: none;
    padding-bottom: 7px;
    padding-top: 7px;
}

.Scroll ul {
    width: 80%;
    height: 150px;
    overflow: auto;
}

.Filter li {
    padding: 2px 0;
    font-size: 0.9em;
    color: grey;
}

.Selected h4 {
    color: grey;
}

.Selected li {
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 4px;
    margin-bottom: 3px;
    width: fit-content;
}

.Selected img {
    vertical-align: middle;
    margin-left: 4px;
    background-color: grey;
    border-radius: 0.3em 0.3em;
    width: 17px;
}

.Filter li:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    color: darkgray;
}

.Rating {
    width: 100px;
}

.Rating:hover {
    cursor: pointer;
}
