.Filters {
    width: 250px;
    min-height: 600px;
    display: inline-block;
}

.Filters h1 {
    display: inline-block;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    font-size: 1.5em;
    margin-bottom: 15px;
}
