.Success {
    margin-top: 300px;
    text-align: center;
}

.Success h1 {
    font-size: 2em;
}

.Success button {
    background-color: #56ccf2;
    height: 45px;
    padding: 0 10px;
    color: dimgrey;
    font-size: 1em;
    border: 1px solid dimgrey;
    box-sizing: border-box;
    border-radius: 0.2em;
    margin-top: 20px;
}

.Success button:hover {
    cursor: pointer;
    background-color: #61dafb;
    color: grey;
    border: 1px solid grey;
}
